

<div style="background-color:lightgray; padding-top:150px;padding-bottom:150px" id="menu_font">
  
  <div class="row">
    
    <div class="col-md-2 col-md-xs-2"></div>
      
      <div class="col-md-8 col-md-xs-8" align="center">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>비 밀 번 호 변 경</h2>
            <hr>
            
            <div class="col-md-2 col-md-sm-1"></div>
            
            <div class="col-md-8 col-md-sm-10">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
               
                  <%= devise_error_messages! %>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">성함</span>
                  <input type="text" class="form-control" name="user" value="<%=current_user.student_name%>" disabled>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">학번</span>
                  <input type="text" class="form-control" name="user" value="<%=current_user.student_number%>" disabled>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">학과</span>
                  <input type="text" class="form-control" name="user" value="<%=current_user.department%>" disabled>
                </div>
                
                
                <br>
                
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                
                <br>
                <% end %>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">현재 비밀번호</span>
                  <%= f.password_field :current_password, autocomplete: "off", autofocus: true, :class => "form-control", required: true, :placeholder => "최소 8자리 이상"%>
                </div>
                
                <br>
               
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">변경할 비밀번호</span>
                  <%= f.password_field :password, autocomplete: "off", autofocus: true, :class => "form-control", required: true, :placeholder => "최소 8자리 이상"%>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">변경할 비밀번호 확인</span>
                  <%= f.password_field :password_confirmation, autocomplete: "off", autofocus: true, :class => "form-control", required: true, :placeholder => "최소 8자리 이상"%>
                </div>
                
                <br>
                
                
                
                <div class="actions" id = "menu_font" style = "font-size:25px">
                  <input type="submit" name="commit" class="btn btn-info btn-lg btn-block" value="비밀번호 수정",onclick="confirm(수정하시겠습니까?)">
                 <%#= f.submit "로그인" %> 
                </div>
          <% end %>
          
            <div class="field" id = "menu_font" style="font-size: 18px;margin-top: 10px;">
              <!--%= button_to "돌아가기", :action => '/book/mypage', :class => "btn btn-default btn-lg btn-block", :method => :get  %><br>-->
              <a href="/book/mypage" type="button" name="commit" class="btn btn-default btn-lg btn-block" >돌아가기</a>
              <div style="margin-top:10px">
              <%= button_to "회원탈퇴", registration_path(resource_name), :class => "btn btn-default btn-lg btn-block", data: { confirm: "탈퇴하시겠습니까?" }, method: :delete  %><br>
              </div>
              <!--%= link_to "돌아가기", :class => "btn btn-default btn-lg btn-block", :back  %>-->
              <!--%= link_to "회원탈퇴", registration_path(resource_name), :class => "btn btn-default btn-lg btn-block", method: :delete, data: { confirm: "탈퇴하시겠습니까?" }  %>-->
   
            </div>
          </div>
            
            <div class="col-md-2 col-md-sm-1"></div>
            
              
          </div><!--<div class="panel-body">-->
        </div><!--<div class="panel panel-default">-->
      </div><!--<div class="col-md-8 col-md-xs-8">-->
      
    <div class="col-md-2 col-md-xs-2" id="menu_font"></div>
    
  </div><!--div class row-->
</div><!--<div style="background-color:lightgray">-->



