<div class="well">
  <center>예약현황 정보입니다.</center>
</div>

<div class="container">
<div class="row">

<center>
  <table class="table table-striped table-hover ">
    <thead>
      <tr class="info">
        
        <th>사용자 이름</th>
        <th>사용날짜</th>
        <th>사용시간</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        
      <% @class.order(:start_time).each do |c| %>
          <tr>
           
            <td><%=User.find(c.user).email %></td>
            <td><%=c.date%></td>
            <td><%=c.start_time.to_s(:db)%> ~ <%=c.finish_time.to_s(:db)%></td>
            
            <td>
            <!--<2% if current_user %> <!--로그인 된 상태.-->
                      
                <!--<2%  if current_user.email == "admin@ptu.ac.kr" %> <!--관리자일때 승인하기-->
                  <span class="label label-info" id="view_state<%c.id%>"><%=c.state%></span>
                  
                  <% if c.state=="승인대기" %>
                    <button type="button" class="btn btn-primary btn-sm" id="button<%=c.id%>" onclick="change()" >승인하기</button>
                  <% else %>
                    <button type="button" class="btn btn-primary btn-sm" id="button<%=c.id%>" onclick="change()">승인취소</button>
                  <input type="hidden" class="btn btn-primary btn-sm" onclick="change()" value="승인하기" id="<=c.id%>">
                  <%end%>
                                
                <!--<2% else %> <!--관리자가 아닐때 승인대기-->
                <!--  <span class="label label-info"><%#=c.state%></span><!--관리자가 아닐땐 상태만 보여준다-->
                  <!--<input class="btn btn-primary btn-sm" value="승인대기" id="<=c.id%>"></input>-->
                            
                <!--<2% end %>-->
                      
              <!--<2% else %> <!--로그인 안된 상태에서는 로그인창으로 이동-->
               
            
              <!--<2% end %>  -->
                    
<script>
   function change(){                             
// $(function() {  
                                	     
  // $("#button%=c.id%>").click(function change(){                 
    var view_state = document.getElementById("view_state<%=c.id%>");
    var button = document.getElementById("button<%=c.id%>");
    alert("view_state<%=c.id%>  ;  button<%=c.id%>"  );
      <% if c.state == "승인대기" %> 
      // 승인대기상태라면 버튼눌렀을때 승인완료로 바뀜
        <% @state_change=Reservation.find(c.id)
           @state_change.state="승인완료"
           @state_change.save %> //db에 저장
           
           view_state.innerHTML="<%=c.state%>"; //상태표시를 바꿔줌
           button.innerHTML="승인취소"; //버튼의값을 일시적으로 바꿔줌
           
      <% else %>//승인취소시
        <% @state_change=Reservation.find(c.id)
           @state_change.state="승인대기"
           @state_change.save %> //db에 저장
           
           view_state.innerHTML="<%=c.state%>"; //상태표시를 바꿔줌
           button.innerHTML="승인하기"; //버튼의값을 일시적으로 바꿔줌
      <%end%>
  // });
};
</script>
                 </td>
               
            <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#show<%=c.id%>">상세보기</button></td>
            
             
               <% if current_user.email == "admin@ptu.ac.kr" %>
                <!--예약취소는 사용자만 가능하게! 관리자가 안된다고 생각하면 삭제 말고 승인 거부하면된다-->
                <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#show_check<%=c.id%>" >예약 취소</button></td>
        
              <%end%>
            
          </tr>
          
          
          
          <div id="show_check<%=c.id%>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">   <!-- 예약취소 모달 -->
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">예약 취소</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">예약을 취소하시겠습니까?</label>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <!--<form action="/book/delete/<%=c.id%>" method="POST">-->
                        <a href="/book/delete/<%=c.id%>"> <button type="submit" class="btn btn-primary">취소하기</button></a>
                      <!--</form>-->
                </div>
                </div>
              </div>
            </div>
          </div> <!-- 예약취소 모달 끝 -->
          
          <div id="show<%=c.id%>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"> <!--예약상세보기-->
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel"> 예약 상세 보기</h4>
                </div>
                <div class="modal-body">
                  
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">사용자</label>
                    <%=c.user%>
                  </div>
                  
                  
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">사용시간</label>
                    <%=c.start_time.to_s(:db)%> ~ <%=c.finish_time.to_s(:db)%>
                  </div>
                  
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">사용목적</label>
                    <%=c.purpose%>
                  </div>
                  
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">담당 교수</label>
                    <%=c.professor%>            
                  </div>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id = "ok" >승인하기</button>
          
                </div>
              </div>
            </div>
          </div> <!--예약상세보기 끝-->
          
      <% end %>
    </tbody>
  </table> 
</center>
<br><br>
</div>
</div>

