   <script>
  
  //손가락버튼 mouseover했을 때 색 변하게 하기.
  $(function() {
    $("span").mouseover(function(){
    $("span").css("color", "red");
    });
    
    $("span").mouseleave(function(){
    $("span").css("color", "black");
    });
  
    //밑에 동그라미 mouseover 했을때 색 변하게 하기.
    $("#icon1, #picon1").mouseover(function(){    
    $(".service-icon1").css("border-color", "#0C5838");
    });
    $("#icon1, #picon1").mouseleave(function(){    
    $(".service-icon1").css("border-color", "#7D6F81");
    });                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    
    $("#icon2, #picon2").mouseover(function(){
    $(".service-icon2").css("border-color", "#0C5838");
    });
    $("#icon2, #picon2").mouseleave(function(){
    $(".service-icon2").css("border-color", "#7D6F81");
    });
       
    $("#icon3, #picon3").mouseover(function(){
    $(".service-icon3").css("border-color", "#0C5838");
    }); 
    $("#icon3, #picon3").mouseleave(function(){
    $(".service-icon3").css("border-color", "#7D6F81");
    });

    // $('body').smoothWheel(function(){
        // $('#aaa').smoothWheel();
    // });
  });
  </script>


     <div class="jumbotron" id="top" style="background-image: url(https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11947483_833544056761626_6388524221709896910_n.jpg?oh=df1434c4094e5f37d1222391567bd482&oe=56807E0E&__gda__=1446490038_9fe83b67f9ad1e62d26e55431b0817a2); background-size: cover; height:530px;">
       <div class="container">
        <div class="row">
          <div class="col-md-6" ><br><br>
            <div id="main_font" style="margin-left: 5px; margin-top: 45px;">My Zone</div><br>

              <p id="main_font_" style="text-align:right;">평택대학교 강의실 예약 시스템입니다.</p>
          </div>
          
          <div class="col-md-4 col-md-offset-1" style="text-align:right;width: 420px;">
          
          <% if current_user %> <!-- 로그인이 되어있다면 --> 
          
            <!--오늘의 예약건수-->
            <br><br><br><br><br><br><br>
            
            <!--<div id="menu_font" style="margin-left: 175px; padding-top: 20px;padding-left: 10px" >-->
             
             
              <!--아코디언-->
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <div class="panel-title" id="menu_font" style="font-size:18px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <%=current_user.student_name%> 님의 정보
                        </a>&nbsp;
                           <a href="/book/mypage">
                             <button type="button" class="btn btn-default btn-xs" style="padding-top:5px; font-size:17px;">바로가기</button>
                           </a>  
                      </div>
                    </div>
                    
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <!--<div class="alert alert-danger" role="alert">-->
 
                          <div id = "menu_font" style = "font-size:17px">
                            총 예약수 : <%= Reservation.where(user: current_user.id).count %> &nbsp;&nbsp;&nbsp;
                            승인 대기중 : <%= Reservation.where("user = ? and state = ?",current_user.id,"승인대기").count %> &nbsp;&nbsp;&nbsp; 
                            승인 완료 : <%= Reservation.where("user = ? and state = ?",current_user.id,"승인완료").count %><br>  
                          </div>
                        <!--</div>--><br>
                        <div id = "menu_font_t" style = "font-size:15px">
                        이름  : <%=current_user.student_name%><br>
                        학번  : <%=current_user.student_number%><br>
                        학과  : <%=current_user.department%><br>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <div class="panel-title"  id="menu_font" style="font-size:18px;">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          예약 승인 완료 현황
                        </a>
                      </div>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body" id = "menu_font_t" style = "font-size:15px">
                        
                        <% if Reservation.where("user = ? and state = ?",current_user.id,"승인완료").count==0 %>
                          승인완료 된 예약이 없습니다.
                        <%elsif%>
                          <% Reservation.where("user = ? and state = ?",current_user.id,"승인완료").last(5).each do |r| %>
                            <%=Room.find(r.room_id).building_name%> <%=Room.find(r.room_id).room_number%>호 | <%=r.date%> | <%=r.state%> <br>
                          <%end%>
                        <%end%>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <div class="panel-title"  id="menu_font" style="font-size:18px;">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          예약 승인 대기 현황
                        </a>
                      </div>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body"  id = "menu_font_t" style = "font-size:15px">
                        
                        <% if Reservation.where("user = ? and state = ?",current_user.id,"승인대기").count==0 %>
                          승인대기 된 예약이 없습니다.
                        <%elsif%>
                          <% Reservation.where("user = ? and state = ?",current_user.id,"승인대기").last(5).each do |r| %>
                            <%=Room.find(r.room_id).building_name%> <%=Room.find(r.room_id).room_number%>호 | <%=r.date%> | <%=r.state%> <br>
                          <%end%>
                        <%end%>
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
<!--아코디언 끝-->
            
          <%else%> 
            
              <div id="navbar" class="navbar-collapse collapse"><br><br><br><br><br><br><br><br><br><br><br><br><br>
                  
                 <!-- devise 로그인창 -->
                  <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="kRl81tHWKzxcUUvagXUXiCSvVvipE2p5muJR0dP9Gy600BAvnC8R8rOq47T/9CQrCJ47i7Bl/YjQImveK4Q2EQ==">
                      
                      <label for="user_email" style="font-size: 22px; color:white" id="menu_font_t">Email&nbsp;</label>
                      <div style="font-size: 16px;" id="menu_font">
                      <input autofocus="autofocus" type="email" style="height: 30px; width:205px;" value="" name="user[email]" id="user_email">
                      </div>
                      
                      <label for="user_password" style="font-size: 22px; color:white" id="menu_font_t">&nbsp;&nbsp;Password</label>
                      <div style="font-size: 16px; color:black;">
                      <input autocomplete="off" type="password"  style="height: 30px; width:205px;" name="user[password]" id="user_password">
                      </div>
                      
                      <div class="#" class="action" style="margin-top: 8px;">
                        <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
                        <label for="user_remember_me" style="text-align:right; font-size:18px; color:white;" id="menu_font_t">Remember me</label> &nbsp;     
                        <input type="submit" name="commit" id="menu_font" style="height: 30px; background-color: #FFFFFF; font-size: 15px;" value="로그인">
                      </div>
                  </form>
                  
                  <!--<a href="/users/password/new" style="text-align:right; font-size:18px; color:white;" id="menu_font_t">비밀번호를 잊으셨나요?</a><br>-->
                  <!--여기까지-->
  
              </div>
            </div>
          <%end%> 

        </div>
      </div>
      </div>
      
  

      <br><br><br>
    
      <!--페이지 내리는거(손가락)-->
      <center>
      <br><br><br><br><br><br> 
        <div class="page-scroll">
          <p style=" font-size:20px;" id="menu_font">How To Use&nbsp;&nbsp;
          
          <a href="#howtouse">
            <i class="icon-angle-down scroll-down" style="padding-top:2px" >
              <span class="glyphicon glyphicon-hand-down"></span>
            </i>
          </a>
          
          </p>
        </div>
      </center><br>

    <!--공지사항-->
    <section class="mt150" id="notice_slidedown">
      
     <br><br><br><br><br><br><br><br>
        <div itemscope="" itemtype="http://schema.org/LocalBusiness" class="container">
          <div class="row">
           
            <div class="full">
              <div class="text-center" id="menu_font" style="font-size:30px">
                <a href = "/freeboard/freeboards" style = "color:red">
                  <p class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size:30px; top: 5px;"></p>
              </a>
              공지사항
                <br><br>
            </div>
            </div>
  
            <br>
            
            <!--최신글 테이블-->
            
             <div class = "container">
              <div class = "row">
                <div class = "col-md-6">
                  <form id="form1">
                    <table class="table table-condensed" id="table" style="padding-top:1px; padding-bottom:1px; background:rgba(0,0,0,0); align:center">
                      <center><p id="menu_font" style="font-size: 30px;">   

                        <tr style = "background:orange"> 
                          <th style="font-size: 20px;" id="menu_font_t">Title </th>
                          <th style="font-size: 20px;" id="menu_font_t">Content</th>
                          <th style="font-size: 20px;" id="menu_font_t">Writer </th>
                        </tr>
                        

                            <% Freeboard.last(5).reverse.each do |f| %>
                  
                             <a href="/freeboard/upload_view/<%=f.id%>" class="yeah">
                               <div class = "yeah">                            
                                  <tr class="datas">
          
                                      <td  style="font-size: 18px; width: 210px;" id="menu_font">         
                                      <a href="/freeboard/upload_view/<%=f.id%>" style = "color:black">
                                      <%=f.fb_title%> (<%=f.replies.count()%>)</td></a>
                                      <td  style="font-size: 18px;" id="menu_font">
                                      <%=f.fb_content.first(30)%>..</td>
                                      <td  style="font-size: 18px;" id="menu_font">
                                      <%=User.find(f.fb_user_id).student_name%></td>                                    
                                     
                                  </tr>
                                  
                                </div>
                        <% end %>
                    </table> 
                    </div>
                        
                        
            <!--게시판 그림-->
            <div class="col-md-6">
            
                   <center>
                   <div id = "menu_font" style="background-image: url(http://foto-chohyejin.c9.io/img/board.png); height: 370px; width: 550px">
            
            <div class="row" id="menu_font_t" style="color:white; font-size: 20px;">
            <div class="one-half">
               <br><br><br><br>
               <strong>&nbsp;&nbsp;※ &nbsp;최신글 (5개)<br><br>&nbsp;&nbsp;&nbsp; 
               위의 공지사항 아이콘 및 좌측의 게시글 Title을 <br> 클릭하면 게시글을 볼 수 있습니다.</strong>
               <br><br><button class = "btn btn-default" style="height: 40px; width: 150px;"><a href = "/freeboard/freeboards">게시판 바로가기</a> </button>
            </div>
            </div>

            
                  </div>
                  
                  </center>
            
            </div>
            
                </div>
              </div>
              
              
        </div>
        </div>
      
        <!--      <div class="row" id="menu_font_t">-->
        <!--        <div class="one-half">-->
        <!--          <p><strong>최신글</strong></p>-->
        <!--        </div>-->
        <!--        <div class="one-half">-->
        <!--          <p>sodydydfeifjios</p>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div><br><br><br><br>-->
        <!--  </section>-->
      <br><br><br><br>

  <!--이용방법-->
  <div class = "how" id ="howtouse"></div>
  
  <br><br><br><br><br><br><br><br>
  
        <!--수평선-->
      	<div class="other-focuses">
		      <div class="section-footer-title" id="menu_font" style = "text-align:center">How To Use</div>
	      </div>
   
    <div class="content-section-a">
        <div class="container" >
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="section-heading" id="menu_font" style="font-size: 22px">① 로그인 하기</div><br>
                    <div class="lead" id="menu_font_t" style="font-size:20px;">회원가입한 정보로 로그인을 합니다.<br>
                    (회원이 아닌 경우에는 홈페이지 사용이 제한됩니다.)<br>
                    회원가입을 할 때에는 실명과 학과 학번을 정확히 기재해주시기 바랍니다.<br>
                    회원정보를 수정할 사항이 있으면 위의 마이페이지를 클릭해 정보를 수정해주시기 바랍니다.
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="http://khu-p-chohyejin.c9.io/img/login.png" width = "600px" height = "400px"/>
                </div>
            </div>
        </div>
    </div>
  
    <br>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="section-heading" id="menu_font" style="font-size: 22px">② 예약 하기-1</div><br>
                    <div class="lead" id="menu_font_t" style="font-size:20px;">상단 메뉴바의 예약하기 버튼을 클릭한 후<br>
                    예약을 원하는 건물과 강의실 호수를 선택합니다.<br>
                    예약을 하시기 전에 왼쪽의 날짜검색 버튼을 통하여 해당 날짜의 예약현황을 확인 후 진행해주시기 바랍니다.<br>
                    (중복되는 시간에는 예약이 불가능합니다.)</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img src="http://khu-p-chohyejin.c9.io/img/reservation.png" alt=""  width = "600px" height = "400px">
                </div>
            </div>
        </div>
    </div>
    <br>
    
     <div class="content-section-a" >
        <div class="container"   >
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                     <div class="section-heading" id="menu_font" style="font-size: 22px">③ 예약 하기-2</div><br>
                      <div class="lead" id="menu_font_t" style="font-size:20px;">주황색 예약하기 버튼을 클릭한 후 신청서를 작성하여 강의실 예약을 신청합니다.<br>
                      지도교수의 허락하에 예약이 이루어지는 시스템이기 때문에 담당 교수님을 정확히 기재해주시기 바랍니다.<br>
                      예약 시간은 30분 단위로만 예약이 가능하며 이미 예약이 되어있는 시간을 예약시에는 경고창이 뜹니다.<br>
                      예약시 주의사항을 꼼꼼히 읽어주시고 동의하기를 클릭해주십시오.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="http://khu-p-chohyejin.c9.io/img/write.png" width = "600px" height = "400px"/>
                </div>
            </div>
        </div>
      </div>
    
    <br>
    
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                     <div class="section-heading" id="menu_font" style="font-size: 20px">④ 예약 확인</div><br>
                     <div class="lead" id="menu_font_t" style="font-size:20px;">예약한 날짜를 조회하여 예약신청이 정상적으로 되었음을 확인합니다.<br><br>
                     * 이후 예약한 강의실 사용은 관리자의 예약완료 승인이 있어야만 가능합니다.<br>
                     (예약승인 여부는 날짜별 조회 또는 마이페이지를 통해 확인이 가능합니다.)</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img src="http://khu-p-chohyejin.c9.io/img/st.png" width = "600px" height = "400px">
                </div>
            </div>
        </div>
    </div>
    
    <br>
    
     <div class="content-section-a" >
        <div class="container"   >
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                     <div class="section-heading" id="menu_font" style="font-size: 20px">+ 공지사항 게시판 이용방법</div><br>
                      <div class="lead" id="menu_font_t" style="font-size:20px;">상단바의 '공지사항' 메뉴를 선택 하거나<br>
                      메인화면의 공지사항 최신글을 통해 확인할 수 있습니다.<br>
                      게시글을 클릭했을 시 공지사항 메인 게시판으로 넘어가며 로그인을 하지 않았을 때에는 사용이 불가능합니다. (게시판을 필독해주시기 바랍니다.)</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img src="http://khu-p-chohyejin.c9.io/img/notice.png" width = "600px" height = "400px"/>
                </div>
            </div>
        </div>
      </div>
    
    <br>
    
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                     <div class="section-heading" id="menu_font" style="font-size: 20px">+ 마이페이지 이용방법</div><br>
                      <div class="lead" id="menu_font_t" style="font-size:20px;"> 상단바의 오른쪽에 위치한 '마이페이지' 메뉴 또는 메인화면의 ***님의 정보 옆의 '바로가기' 버튼을 클릭하여 이용하실 수 있습니다.<br>
                      나의 문의함, 예약현황, 기본정보에 대해 확인이 가능하며 회원정보 수정도 이곳에서 가능합니다.</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6" >
                    <img src="http://khu-p-chohyejin.c9.io/img/mypage.png" width = "600px" height = "400px" >
                </div>
            </div>
        </div>
    </div>
    
    
 
    
   <!--R.eservation S.ystem Bar-->
   <br><br><br><br><br><br>   <br><br><br><br><br><br>   <br><br><br><br><br><br>
    <div class="jumbotron_down" style="background-image: url(https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/12039257_844909875625044_5934146598989575588_n.jpg?oh=60d4ebae3a73e09e7bf9b56b1b497c3a&oe=569D22A6); background-size: cover; height:500px;" >
      <br><br><br><br><br><br><br><br>
      <p style = "color:black; text-align: center; font-size:120px;" id="menu_font">Reservation System</p>
      <p style = "color:black; text-align: center; font-size:35px" id="menu_font">Pyeongtaek University<p>
    </div>

    <!--문의하기 버튼 눌렀을 때 이동-->
    <div id="bottom"></div>
    <br><br><br><br><br><br>
     
    
    <!--동그라미 3개-->   
    <center>
      <div class="container">
      
        <div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
    			<div class="service-icon1">
      			<img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11891267_832017333580965_4922852121499772665_n.jpg?oh=c6bbb44a9ce4277289d2c7099225684f&oe=563BFA27&__gda__=1449830733_44379e5949f24753633b012a75ff42b0" style="margin-top: 26px; width: 70px;" id = "icon1">
      		</div>
      		<div id = "menu_font">
      			<h3 class="red-border-bottom" id = "picon1" >Contact</h3><br>
      			<p id = "picon1" id="menu_font" style="font-size: 17px;">사용 중 불편하거나 건의사항이 있으면<br>아래의 쪽지보내기를 통해<br>관리자에게 쪽지를 보내주세요.</p>
      			<a href ="/message/write" > <button id = "picon1" style="color:#FFFFFF; font-size: 17px" class="btn btn-success"> 쪽지 보내기</button> </a> 
  		    </div>
  		  </div>
  		
  		  <div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
    			<div class="service-icon2">
      			<img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/11934993_832017396914292_6807399436638976517_n.jpg?oh=9db7e0b0596633c8a003af7f3a7be7cb&oe=56754A7D&__gda__=1450550260_2ce7f08b9f79b4e0c63adfc61ea4a83e" style="width: 84px; margin-top: 20px;" id = "icon2" >
      		</div>
      		<div id = "menu_font">
      			<h3 class="red-border-bottom-center" id = "picon2">Phone</h3><br>
      			<p id = "picon2" id="menu_font_t" style="font-size: 17px;">PTU 대표전화 : 031 - 659 - 8114<br>시스템관리자 연락처 : 010 - 1234 - 5678</p>
  		    </div>
  		  </div>
  		
        <div class="col-lg-4 col-sm-4 focus-box red wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
    			<div class="service-icon3" >
      			<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/11899819_832017373580961_9132140812643272515_n.jpg?oh=a2d3b010fa85f666bf0ee61df27ccdff&oe=566FA27C&__gda__=1450366197_2fef23755f5ecb198a7ecfc32afe7072" style="width: 80px; margin-top: 22px;" id = "icon3">
      		</div>
      		<div id = "menu_font">
      			<h3 class="red-border-bottom-right" id = "picon3">Location</h3><br>
      			<p id = "picon3" id="menu_font_t" style="font-size: 17px;">평택대학교 :<br>경기도 평택시 서동대로 3825번지<br>(구 용이동 111번지)</p>
  		    </div>
  		  </div>
  		  
      </div>
    </center><br><br><br><br>
           
      <!--페이지 위로 올리기-->
      <center>
      <div class="top-footer-scroll page-scroll" style="font-size:20px;">
          <a href="#top">
            <i class="icon-angle-down scroll-down">
              <span class="glyphicon glyphicon-hand-up"></span>
            </i>
          </a>
      </div>
      </center>
      <br> <br>
      
      
      
      
      




